async-timeout==5.0.1
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
contourpy==1.3.2
cycler==0.12.1
depthai==3.2.1
dynamixel_sdk @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dynamixel-sdk_1756982208/work/python
filelock==3.20.0
fonttools==4.61.0
fsspec==2025.12.0
grpcio==1.76.0
grpcio-tools==1.76.0
hf-xet==1.2.0
huggingface-hub==0.36.0
idna==3.11
ImageIO==2.37.2
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
lazy_loader==0.4
MarkupSafe==3.0.3
matplotlib==3.10.7
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.0
opencv-python==4.12.0.88
packaging==25.0
pillow==12.0.0
protobuf==6.33.2
pyarrow==22.0.0
pyparsing==3.2.5
pyserial @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_b13k7dm09j/croot/pyserial_1736540562370/work
python-dateutil==2.9.0.post0
PyYAML==6.0.3
redis==7.1.0
regex==2025.11.3
requests==2.32.5
rerun-sdk==0.26.2
rplidar-roboticia==0.9.5
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
shapely==2.1.2
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tokenizers==0.22.1
torch==2.2.2
tqdm==4.67.1
transformers==4.57.3
typing_extensions==4.15.0
urllib3==2.6.0
websockets==15.0.1
